.confirm-form__inner {
    margin: 40px auto 0;
    width: 80%;
    font-size: 18px;
}

.confirm-form__table {
    width: 100%;
    border-collapse: collapse;
}

.confirm-form__row {
    border: 2px solid #C0BDBD;
}

.confirm-form__label,
.confirm-form__data {
    padding: 20px 40px;
}

.confirm-form__label {
    width: calc(100% / 3);
    background-color: #D1C6C1;
    color: #FFF;
    text-align: left;
    font-weight: 500;
}

.confirm-form__btn-inner {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
}

.confirm-form__back-btn {
    text-decoration: underline;
    color: #007BFF;
}