.footer {
    display: none;
}

.thanks-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.thanks-page__message {
    font-weight: bold;
    font-size: 26px;
}

.thanks-page__btn {
    margin: 40px auto 0;
}

.thanks-page-bg__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    opacity: 0.1;
    transform: translate(-50%, -50%);
}

.thanks-page-bg__text {
    font-size: 20vw;
}